# __Date and TimeDelta in Pandas__

## __Agenda__

In this lesson, we will cover the following concepts with the help of examples:

- Date and TimeDelta in Pandas
- Date Handling in Pandas
  * Extracting Components from Dates
- Timedelta in Pandas
  * Creating a Timedelta
  * Performing Arithmetic Operations
  * Resampling Time Series Data
- Categorical Data Handling
  * Creating a Categorical Variable
  * Counting Occurrences of Each Category
  * Creating Dummy Variables
  * Label Encoding

##  __1. Date and TimeDelta in Pandas__

In Pandas, the datetime module provides robust functionality for handling date and time data, while the timedelta class allows for convenient manipulation of time intervals. This combination is particularly useful for time-based analysis and working with temporal data in a DataFrame.

![link text](https://labcontent.simplicdn.net/data-content/content-assets/Data_and_AI/ADSP_Images/Lesson_04_Working_with_Pandas/3_Date_and_TimeDelta_in_Pandas/Date_and_Time.png)

## __2. Date Handling in Pandas__
#### Creating a Date Range:

- The date_range function is used to generate a sequence of dates within a specified range.
- It is a powerful tool for creating time indices or date columns in a DataFrame.
- The start and end parameters define the range, while freq determines the frequency, such as daily (D) or monthly (M).

In [24]:
import pandas as pd

# Generate a date range
date_range = pd.date_range(start='2023-01-01', end='2023-01-10', freq='D')
print(date_range)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

### __2.1 Extracting Components from Dates__

Pandas provides the dt accessor to extract various components (Example: day, month, year) from a date column in a DataFrame. This is valuable for time-based analysis when specific date attributes need to be considered.

In [25]:
import pandas as pd

# Assuming 'df' is your DataFrame with a 'Date' column
data = {'Date': ['2023-01-01', '2023-02-15', '2023-03-20']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

# Extracting day, month, and year information
df['Day'] = df['Date'].dt.day
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

# Displaying the DataFrame with extracted information
print(df[['Date', 'Day', 'Month', 'Year']])

        Date  Day  Month  Year
0 2023-01-01    1      1  2023
1 2023-02-15   15      2  2023
2 2023-03-20   20      3  2023

In [26]:
# Extracting weekday and weekend information
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=5)})
df['Weekday'] = df['Date'].dt.weekday
df['IsWeekend'] = df['Date'].dt.weekday // 5 == 1
print(df[['Date', 'Weekday', 'IsWeekend']])

        Date  Weekday  IsWeekend
0 2023-01-01        6       True
1 2023-01-02        0      False
2 2023-01-03        1      False
3 2023-01-04        2      False
4 2023-01-05        3      False

In [27]:
# Shifting dates forward or backward
df['Date'] = pd.to_datetime(df['Date'])
df['PreviousDate'] = df['Date'] - pd.Timedelta(days=1)
df['NextDate'] = df['Date'] + pd.Timedelta(days=1)
print(df[['Date', 'PreviousDate', 'NextDate']])

        Date PreviousDate   NextDate
0 2023-01-01   2022-12-31 2023-01-02
1 2023-01-02   2023-01-01 2023-01-03
2 2023-01-03   2023-01-02 2023-01-04
3 2023-01-04   2023-01-03 2023-01-05
4 2023-01-05   2023-01-04 2023-01-06

## __3. Timedelta in Pandas__
### __3.1 Creating a Timedelta__

- The Timedelta class in Pandas represents a duration or the difference between two dates or times.
- It can be created by specifying the desired duration, such as days, hours, or minutes.

In [29]:
import pandas as pd

data = {
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='H'),
    'Value1': range(10),
    'Value2': range(10, 20)
}
df = pd.DataFrame(data)

# Creating a timedelta of 3 days
delta = pd.Timedelta(days=3)

### __3.2 Performing Arithmetic Operations__

Timedelta objects can be used to perform arithmetic operations on dates. For example, adding a timedelta to a date results in a new date. This is useful for calculating future or past dates based on a given time interval.

In [30]:
# Performing arithmetic operations with timedeltas
df['Date'] = pd.to_datetime(df['Date'])
df['FutureDate'] = df['Date'] + pd.Timedelta(weeks=2, days=3, hours=12)
print(df[['Date', 'FutureDate']])

                 Date          FutureDate
0 2023-01-01 00:00:00 2023-01-18 12:00:00
1 2023-01-01 01:00:00 2023-01-18 13:00:00
2 2023-01-01 02:00:00 2023-01-18 14:00:00
3 2023-01-01 03:00:00 2023-01-18 15:00:00
4 2023-01-01 04:00:00 2023-01-18 16:00:00
5 2023-01-01 05:00:00 2023-01-18 17:00:00
6 2023-01-01 06:00:00 2023-01-18 18:00:00
7 2023-01-01 07:00:00 2023-01-18 19:00:00
8 2023-01-01 08:00:00 2023-01-18 20:00:00
9 2023-01-01 09:00:00 2023-01-18 21:00:00

### __3.3 Resampling Time Series Data__

Time series data often comes with irregular time intervals. Resampling is the process of changing the frequency of the time series data, either by upsampling (increasing frequency) or downsampling (decreasing frequency).

In [31]:
# Resampling time series data
df.set_index('Date', inplace=True)
df_resampled = df.select_dtypes(include='number').resample('D').sum()
print(df_resampled)

            Value1  Value2
Date
2023-01-01      45     145

## __4. Categorical Data Handling__

### __4.1 Creating a Categorical Variable__
Pandas provides the categorical class to create a categorical variable. Categorical variables are useful when dealing with data that can be divided into distinct, non-numeric categories.

In [32]:
import pandas as pd

# Creating a categorical variable
categories = ['Low', 'Medium', 'High']
values = ['Low', 'Medium', 'High', 'Low', 'High']
cat_variable = pd.Categorical(values, categories=categories, ordered=True)
print(cat_variable)

['Low', 'Medium', 'High', 'Low', 'High']
Categories (3, object): ['Low' < 'Medium' < 'High']

### __4.2 Counting Occurrences of Each Category__
The value_counts() method is used to count the occurrences of each category in a categorical column of a DataFrame.

In [33]:
# Assuming 'df' is your DataFrame with a 'Category' column
df = pd.DataFrame({'Category': ['A', 'B', 'A', 'C', 'B', 'A']})

# Counting occurrences of each category
category_counts = df['Category'].value_counts()
print(category_counts)

Category
A    3
B    2
C    1
Name: count, dtype: int64

### __4.3 Creating Dummy Variables__

When working with machine learning models or statistical analyses, creating dummy variables is often necessary to represent categorical data numerically. The get_dummies function creates binary columns for each category, effectively converting categorical data into a numerical format.

In [34]:
# Assuming 'df' is your DataFrame with a 'Category' column
df = pd.DataFrame({'Category': ['A', 'B', 'A', 'C', 'B', 'A']})

# Creating dummy variables for categorical data
dummy_variables = pd.get_dummies(df['Category'], prefix='Category')
print(dummy_variables)

   Category_A  Category_B  Category_C
0        True       False       False
1       False        True       False
2        True       False       False
3       False       False        True
4       False        True       False
5        True       False       False

### __4.4 Label Encoding__

Another way to handle categorical data is through label encoding, where each category is assigned a unique numerical label. This is useful in scenarios where ordinal relationships exist between categories.

In [35]:
# Assuming 'df' is your DataFrame with a 'Category' column
df = pd.DataFrame({'Category': ['A', 'B', 'A', 'C', 'B', 'A']})

# Label Encoding
df['Category_LabelEncoded'] = df['Category'].astype('category').cat.codes
print(df[['Category', 'Category_LabelEncoded']])

  Category  Category_LabelEncoded
0        A                      0
1        B                      1
2        A                      0
3        C                      2
4        B                      1
5        A                      0

# __Assisted Practice__

## __Problem Statement:__
Analyze the housing dataset with a focus on handling date and categorical data to gain insights into house sales over time and the influence of house characteristics on its price.

## __Steps to Perform:__
- Convert the __YearBuilt__ and __YearRemodAdd__ columns to datetime format (if not converted)
- Extract useful components from the date like the year, month, or day
- Calculate the time difference between the year the house was built and the year it was remodeled
- Perform necessary arithmetic operations
- Count the number of occurrences of each category in categorical features
- Create dummy variables for categorical variables

# Handling Date and Categorical Data in Housing Analysis

In this section, we’ll extract and engineer features from date columns and categorical data to deepen our understanding of house sales over time and how house characteristics influence price.

In [2]:
import pandas as pd

In [4]:
import pandas as pd

# Replace filename with your actual file if different
df = pd.read_csv('HousePrices.csv')   # or 'housing_data.csv', etc.
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [5]:
# Convert date columns to datetime (if needed)
df['date'] = pd.to_datetime(df['date'], errors='coerce')  # Handles bad formats as NaT
df['yr_built'] = pd.to_numeric(df['yr_built'], errors='coerce')  # Ensure numeric
df['yr_renovated'] = pd.to_numeric(df['yr_renovated'], errors='coerce')  # Ensure numeric

df[['date', 'yr_built', 'yr_renovated']].head()

        date  yr_built  yr_renovated
0 2014-05-02      1955          2005
1 2014-05-02      1921             0
2 2014-05-02      1966             0
3 2014-05-02      1963             0
4 2014-05-02      1976          1992

## Extract Sale Year, Month, and Day

Now that the `date` column is in datetime format, we can extract the year, month, and day of each sale.  
These features are useful for time-based trend analysis and seasonality studies.

In [7]:
# Extract year, month, day from 'date'
df['sale_year'] = df['date'].dt.year
df['sale_month'] = df['date'].dt.month
df['sale_day'] = df['date'].dt.day

df[['date', 'sale_year', 'sale_month', 'sale_day']].head()

        date  sale_year  sale_month  sale_day
0 2014-05-02       2014           5         2
1 2014-05-02       2014           5         2
2 2014-05-02       2014           5         2
3 2014-05-02       2014           5         2
4 2014-05-02       2014           5         2

## Calculate House Age and Years Since Renovation

Let's engineer features for the age of the house at the time of sale, and time since last renovation.  
These are often powerful predictors of price and desirability.

In [8]:
# Calculate age at sale and years since renovation
df['age_at_sale'] = df['sale_year'] - df['yr_built']
df['years_since_renovated'] = df['sale_year'] - df['yr_renovated']
df[['sale_year', 'yr_built', 'age_at_sale', 'yr_renovated', 'years_since_renovated']].head()

   sale_year  yr_built  age_at_sale  yr_renovated  years_since_renovated
0       2014      1955           59          2005                      9
1       2014      1921           93             0                   2014
2       2014      1966           48             0                   2014
3       2014      1963           51             0                   2014
4       2014      1976           38          1992                     22

## Calculate Price per Square Foot

Price per square foot is a standard metric for comparing houses of different sizes.

In [9]:
df['price_per_sqft'] = df['price'] / df['sqft_living']
df[['price', 'sqft_living', 'price_per_sqft']].head()

       price  sqft_living  price_per_sqft
0   313000.0         1340      233.582090
1  2384000.0         3650      653.150685
2   342000.0         1930      177.202073
3   420000.0         2000      210.000000
4   550000.0         1940      283.505155

## Count Categorical Feature Occurrences

We can examine the number of houses by city or state/zip to understand the dataset’s geographic distribution.

In [11]:
print(df['city'].value_counts())
print(df['statezip'].value_counts())

city
Seattle                1573
Renton                  293
Bellevue                286
Redmond                 235
Kirkland                187
Issaquah                187
Kent                    185
Auburn                  176
Sammamish               175
Federal Way             148
Shoreline               123
Woodinville             115
Maple Valley             96
Mercer Island            86
Burien                   74
Snoqualmie               71
Kenmore                  66
Des Moines               58
North Bend               50
Covington                43
Duvall                   42
Lake Forest Park         36
Bothell                  33
Newcastle                33
Tukwila                  29
SeaTac                   29
Vashon                   29
Enumclaw                 28
Carnation                22
Normandy Park            18
Clyde Hill               11
Fall City                11
Medina                   11
Black Diamond             9
Ravensdale                7
Pacific                   6
Algona                    5
Yarrow Point              4
Skykomish                 3
Milton                    2
Preston                   2
Inglewood-Finn Hill       1
Snoqualmie Pass           1
Beaux Arts Village        1
Name: count, dtype: int64
statezip
WA 98103    148
WA 98052    135
WA 98117    132
WA 98115    130
WA 98006    110
           ...
WA 98047      6
WA 98288      3
WA 98050      2
WA 98354      2
WA 98068      1
Name: count, Length: 77, dtype: int64

## Create Dummy Variables for Categorical Features

Machine learning algorithms require numeric input.  
We use one-hot encoding to convert the `city` column into a set of binary variables, one for each city.

In [12]:
city_dummies = pd.get_dummies(df['city'], prefix='city')
df = pd.concat([df, city_dummies], axis=1)
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,city_SeaTac,city_Seattle,city_Shoreline,city_Skykomish,city_Snoqualmie,city_Snoqualmie Pass,city_Tukwila,city_Vashon,city_Woodinville,city_Yarrow Point
0,2014-05-02,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,...,False,False,True,False,False,False,False,False,False,False
1,2014-05-02,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,...,False,True,False,False,False,False,False,False,False,False
2,2014-05-02,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,...,False,False,False,False,False,False,False,False,False,False
3,2014-05-02,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,...,False,False,False,False,False,False,False,False,False,False
4,2014-05-02,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,...,False,False,False,False,False,False,False,False,False,False